/* ========================= */
/* Reset and Global Styles */
/* ========================= */
:root {
  --lightAccent: #88b6fc;
  --black: #1B3E68;
  --white: #ffffff;
  --hoverBlue: #14538d;
  --borderColor: #ccc;
  --backgroundColor: #f9fafc;
  --textColor: #1B3E68;
  --buttonColor: #1d539f;
  --buttonHoverColor: #14538d;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: var(--backgroundColor);
}

#root, .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  background: var(--black);
  color: var(--white);
  padding: 10px 0;
  font-size: 0.9rem;
}
